[submodule "Dependencies/Eigen"]
	path = Dependencies/Eigen
	url = https://github.com/RLovelett/eigen.git
[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Dependencies/stb"]
	path = Dependencies/stb
	url = https://github.com/nothings/stb.git
